<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top bd-navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="image/logodua.png" class="logo-brand" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="home">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item" id="portfolio">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item" id="about-us">
                        <a class="nav-link " href="#">About us</a>
                    </li>
                    <li class="nav-item" id="pricing">
                        <a class="nav-link " href="#">Pricing</a>
                    </li>
                    <li class="nav-item" id="testimonial">
                        <a class="nav-link " href="#">Testimonial</a>
                    </li>
                    <li class="nav-item" id="contact">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <section id="hero">
        <div class="container">
            <div class="content-center topmargin-lg">
                <h1>Web Design and Development</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facere saepe natus iusto repudiandae doloremque maiores debitis modi hic enim?</p>
                <a href="#" class="btn btn-light topmargin-sm">Explore now <i class="fas fa-play-circle" class="ml-2"></i>   </a>
            </div>
        </div>
    </section>
    <section id="portfolio" class="bg-port">
        <div class="container">
            <div class="content-center">
                <h2>
                    <b>Los mejores Albumes</b>
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nesciunt a asperiores, temporibus quibusdam dolore? Odit eius quis culpa eum quasi exercitationem. Praesentium, illum ex commodi vero exercitationem culpa laboriosam
                    animi ducimus ipsum dolore dolorem.</p>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Don't start now</h2>
                            </a>
                            <a href="">
                                <p>Primer album</p>
                            </a>
                        </div>
                        <img src="image/dua1.jpg" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Be the One</h2>
                            </a>
                            <a href="">
                                <p>Segundo album</p>
                            </a>
                        </div>
                        <img src="image/dua2.jpg" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>IDGAF</h2>
                            </a>
                            <a href="">
                                <p>Tercer album</p>
                            </a>
                        </div>
                        <img src="image/dua3.jpg" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Don't start now</h2>
                            </a>
                            <a href="">
                                <p>Primer album</p>
                            </a>
                        </div>
                        <img src="image/dua6.jpg" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Don't start now</h2>
                            </a>
                            <a href="">
                                <p>Primer album</p>
                            </a>
                        </div>
                        <img src="image/dua8.jpg" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
                <div class=" col-sm-6 col-lg-4 col-10">
                    <div class="portfolio-container">
                        <div class="portfolio-details">
                            <a href="#">
                                <h2>Be the One</h2>
                            </a>
                            <a href="">
                                <p>Segundo album</p>
                            </a>
                        </div>
                        <img src="image/dua11.png" class="img-fluid" alt="portafolio 1">
                    </div>
                </div>
            </div>
            <div class="text-center topmargin-sm">
                <p>Lorem ipsum dolor sit amet . Animi, suscipit.</p>
                <a href="#" class="text-dark">Ver más</a>
            </div>
        </div>
    </section>
    <section id="about-us" class="bg-about-us">
        <div class="container">
            <div class="content-center">
                <h2 class="text-blanco">
                    <b>Grandes momentos en escenario</b>
                </h2>
                <p class="text-blanco">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nesciunt a asperiores, temporibus quibusdam dolore? Odit eius quis culpa eum quasi exercitationem. Praesentium, illum ex commodi vero exercitationem culpa laboriosam
                    animi ducimus ipsum dolore dolorem.</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 px-2 col-11">
                    <div class="member-container borde">
                        <div class="member-details">
                            <h5>California , EE.UU.</h5>
                            <span>Sep , Monday 01</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <img src="image/concierto1.jpg" class="img-fluid" alt="photo01">
                    </div>
                </div>
                <div class="col-lg-4 px-2 col-11">
                    <!-- RETO : Colocarlo como carrusel -->
                    <div class="member-container borde">
                        <div class="member-details">
                            <h5>Manchester, England</h5>
                            <span>May , Tuesday 14 </span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <img src="image/concierto2.jpg" class="img-fluid" alt="photo01">
                    </div>
                </div>
                <div class="col-lg-4 px-2 col-11">
                    <div class="member-container borde">
                        <div class="member-details">
                            <h5>Paris ,France</h5>
                            <span>Oct , Saturday 19</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                            </ul>
                        </div>
                        <img src="image/concierto3.jpg" class="img-fluid" alt="photo01">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing" class="divider">
        <div class="container">
            <div class="content-center">
                <h2>
                    <b>Pricing built for every business</b>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. Suscipit expedita obcaecati nesciunt error ut quidem autem.</p>
            </div>
            <div class="row justify-content-around align-items-center">
                <div class="col-md-6 col-sm-10 col-lg-5 col-10">
                    <div class="pricing-container">
                        <div class="plans plan-light">
                            <h4>Starter Solution</h4>
                            <h2>$89<span>/per month</span></h2>
                            <h4>Per 1 Million Data points</h4>
                            <ul class="topmargin-xs">
                                <li>Integratiion with Google Analytics</li>
                                <li>Online Payments</li>
                                <li>Solution Architect</li>
                                <li>Dedicated Support</li>
                            </ul>
                            <a href="#" class="btn btn-dark d-block topmargin-sm"> Star now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-10 col-lg-5 col-10">
                    <div class="pricing-container">
                        <div class="plans plan-dark">
                            <h4>Starter Solution</h4>
                            <h2>$139<span>/per month</span></h2>
                            <h4>Per 1 Million Data points</h4>
                            <ul class="topmargin-xs">
                                <li>Integratiion with Google Analytics</li>
                                <li>Online Payments</li>
                                <li>Solution Architect</li>
                                <li>Dedicated Support</li>
                            </ul>
                            <a href="#" class="btn btn-dark d-block topmargin-sm"> Star now</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="testimonial" class="divider">
        <div class="container">
            <div class="content-center">
                <h2>
                    <b>Comentarios de famosos</b>
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque nesciunt a asperiores.</p>
            </div>

            <div id="carouselExampleIndicators" class="carousel slide bg-dark" data-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem molestiae aliquam veniam quisquam tempore! Quis, odit.</p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                </ul>
                            </div>
                            <div class="testimonial-user col-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="image/joejonas.jpg" class="img-fluid" alt="testimonial user 01">
                                    </div>
                                    <div class="col-md-9 ">
                                        <h6>Joe Jonas</h6>
                                        <span>Cantante sin voz</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem molestiae aliquam veniam quisquam tempore! Quis, odit.</p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="image/camila.jpg" class="img-fluid" alt="testimonial user 01">
                                    </div>
                                    <div class="col-md-9">
                                        <h6>Camila Cabello</h6>
                                        <span>Cantante</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem exercitationem molestiae aliquam veniam quisquam tempore! Quis, odit.</p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                    <li class="list-inline-item"> <i class="fas fa-star"></i> </li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="image/shawmendes.jpg" class="img-fluid" alt="testimonial user 01">
                                    </div>
                                    <div class="col-md-9">
                                        <h6>Shaw Mendes</h6>
                                        <span>Cantante</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <div class="control-button">
                        <i class="fas fa-chevron-circle-left "></i>
                    </div>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <div class="control-button">
                        <i class="fas fa-chevron-circle-right "></i>
                    </div>
                </a>
            </div>
        </div>

    </section>
    <section id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-11 topmargin-sm">
                    <h3>Ready to accelerate your project? <b>just let us know.</b> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum. contact@smartagency.com</p>
                </div>
                <div class="col-md-6 col-11 topmargin-sm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" id="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name" id="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <form action="" class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="">
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form action="" class="form-group">
                                <input type="text" class="form-control" placeholder="Company Name" id="">
                            </form>
                        </div>
                        <div class="col-md-12">
                            <form action="" class="form-group">
                                <input type="number" class="form-control" placeholder="Phone number (optional)" id="">
                            </form>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-dark full-width d-block">Contact Sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-footer">
        <div class="container">
            <img src="image/logodua.png" class="logo-brand" alt="logo">
            <ul class="list-inline">
                <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Portfolio</a></li>
                <li class="list-inline-item footer-menu"><a href="#">About Us</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Pricing</a></li>
                <li class="list-inline-item footer-menu"><a href="#">Contact</a></li>
            </ul>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
            </ul>
            <small>©2020 All Rights Reserved. Created by <a href="#" class="font-weight-bold">Alex Rojas Coaquira</a></small>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/b84a853aee.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>